.card-deck {
    margin: 50px;
    width: 53rem;
}

.card-img-top {
    margin-left: -8px;
    height: 120px;
    width: 190px;
}

.card {
    padding: 10px;
    /* margin: 3px; */
    border: 0px;
    /* background-color: aqua; */
    background-color: rgba( 0, 0, 0, 0)
}

.clickable {
    text-decoration: none;
    color: black;
}

.card-text,
.card-text-channel {
    margin-top: -10px;
    margin-left: -20px;
}

.card-title {
    margin-top: -20px;
    margin-left: -20px;
}