<div class="example-container" *ngIf="shouldRun" style="height: 9vh;">
    <div class="row">
        <button (click)="collapseMenu()" class=" col-1 border-0 rounded-circle bg-white"><i class="fa fa-bars fa-lg"
                style="color:gray"></i></button>
        <app-navbar class="col-11"></app-navbar>
    </div>

</div>

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->


<!-- Copyright 2019 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->

<!-- 
<div class="row" style="height: 12vh; background-color: brown;">

</div> -->